- breadcrumb_title _("Security Dashboard")
- page_title  _("Security Dashboard")

#js-group-security-dashboard{ data: { vulnerabilities_endpoint: group_security_vulnerabilities_path(@group),
  vulnerabilities_summary_endpoint: summary_group_security_vulnerabilities_path(@group),
  vulnerability_feedback_help_path: help_page_path("user/project/merge_requests/index", anchor: "interacting-with-security-reports-ultimate"),
  dashboard_documentation: help_page_path('user/group/security_dashboard/index') } }
