%html{ lang: "en" }
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      GitLab
    = stylesheet_link_tag 'notify'
    = yield :head
  %body
    .content
      = yield
    .footer{ style: "margin-top: 10px;" }
      %p
        &mdash;
        %br
        - if @target_url
          - if @reply_by_email
            = _('Reply to this email directly or %{view_it_on_gitlab}.').html_safe % { view_it_on_gitlab: link_to(_("view it on GitLab"), @target_url) }
          - else
            #{link_to _("View it on GitLab"), @target_url}.
          %br
          -# Don't link the host in the line below, one link in the email is easier to quickly click than two.
          = _("You're receiving this email because %{reason}.") % { reason: notification_reason_text(@reason) }
          If you'd like to receive fewer emails, you can
          - if @labels_url
            adjust your #{link_to 'label subscriptions', @labels_url}.
          - else
            - if @unsubscribe_url
              = link_to "unsubscribe", @unsubscribe_url
              from this thread or
            adjust your notification settings.

          = email_action @target_url

        -# EE-specific start
        - if Gitlab::CurrentSettings.email_additional_text.present?
          %br
          %br
            = Gitlab::Utils.nlbr(Gitlab::CurrentSettings.email_additional_text)
        -# EE-specific end
